* {
  background-color: #f1e5d4;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
}

.individual-movie, .individual-movie h1, section, p {
  background-color: rgb(201, 198, 194);
}

.individual-movie {
  margin: 10px;
}

/* .individual-movie img {
  display: center;
  height: auto;
  margin-top: 10px;
} */
